{foreach $menu as $id => $title}
	<li class="nav-item {ifCurrent Homepage:default id=>$id}active{/ifCurrent}"><a class="nav-link" n:href="Homepage:default id=>$id">{$title}</a></li>
{/foreach}

{if $user->loggedIn}
	<li class="nav-item"><a class="nav-link" n:href=":Admin:Homepage:default" title="Administrace">Administrace</a></li>
	<li class="nav-item"><a class="nav-link" n:href=":Front:Sign:out">Odhlásit</a></li>
{/if}
