{block content}
    <h3 n:inner-block="title">Editace fotogalerie</h3>
    <hr />
    <div class="row">
        <div>
            {control uploadForm}
        </div>

        <div>
            <a class="btn btn-outline-primary" n:href="editOrderImages">Přejít k editaci pořadí obrázků</a>
        </div>

        <div>
            <a class="btn btn-outline-primary" n:href="editOther id=>3">změnit pořadí galerie</a>
        </div>

    </div>
    <hr />
    {control galleryGrid}