<!DOCTYPE html>
<html lang="cze">
<head>
    {block head}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="PÁRTY STANY Valášek"/>
		<meta name="keywords" content="Párty, party, stany, Valášek, Valasek, Ostrava"/>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
		<link rel="stylesheet" href="{$basePath}/css/style-admin.css?aaa=time()">

		<title>{ifset title}{include title|striptags} | {/ifset}PÁRTY STANY Valášek</title>
		<link rel="shortcut icon" href="{$basePath}/favicon.ico">
    {/block}

</head>

<body role="document">

	<script> document.documentElement.className += ' js' </script>
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" n:href="Homepage:">Administrace</a>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item {ifCurrent Homepage:default}active{/ifCurrent}">
					<a class="nav-link" n:href="Homepage:">Domů<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<span class="nav-link active">|</span>
				</li>
				<li class="nav-item {ifCurrent Homepage:other}active{/ifCurrent}">
					<a class="nav-link" n:href="Homepage:other">Stránky</a>
				</li>
				<li class="nav-item">
					<span class="nav-link active">|</span>
				</li>
				<li class="nav-item {ifCurrent Users:default}active{/ifCurrent}">
					<a class="nav-link" n:href="Users:">Uživatelé</a>
				</li>
				<li class="nav-item">
					<span class="nav-link active">|</span>
				</li>
				<li class="nav-item">
					<a class="nav-link" n:href=":Front:Sign:out" title="administrace">Odhlásit</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container" role="main">

		<div class="jumbotron">
			<div n:foreach="$flashes as $flash" class="alert {$flash->type}">{$flash->message}</div>
			{block content}{/block}
		</div>

	</div>
	<div id="ajax-spinner" style="display: none"></div>
    {block scripts}
		<script src="{$basePath}/js/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="{$basePath}/js/bootstrap.js"></script>
		<script src="{$basePath}/js/holder.min.js"></script>
		<script src="{$basePath}/js/ie10-viewport-bug-workaround.js"></script>
	<!-- TinyMCE -->
	<script type="text/javascript" src="{$basePath}/js/tinymce/tinymce.min.js"></script>

	<script src="{$basePath}/js/bootstrap.min.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/nette.ajax.js"></script>
	<script src="{$basePath}/js/main_admin.js"></script>
	<script src="{$basePath}/js/code.js?"></script>
	<!--script src="{$basePath}/js/extensions/spinner.ajax.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="{$basePath}/js/ie10-viewport-bug-workaround.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<script>
		$(function () {
			$('select[name=parent]').change(function () {
				$.nette.ajax({
					url: {link addCat},
					data: {
						'catId': $('select[name=parent]').val()
					}
				});
			});

			$('#siteTitle').change(function() {
				$.nette.ajax({
					url: {link addOther!},
					data: {
						'siteTitle': $('#siteTitle').val()
					}
				});
			});

			tinymce.init({
				selector: "#siteTextarea",
				theme: "modern",
				language : "cs",
				width: 1000,
				height: 300,
				plugins: [
					"advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
					"searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
					"save table contextmenu directionality emoticons template paste textcolor"
				],
				toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
				style_formats: [
					{ title: 'Bold text', inline: 'b' },
					{ title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
					{ title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
					{ title: 'Example 1', inline: 'span', classes: 'example1' },
					{ title: 'Example 2', inline: 'span', classes: 'example2' },
					{ title: 'Table styles' },
					{ title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
				]
			});
		});
	</script>
	{ifCurrent Homepage:editOrderImages}
		<script>
            $(document).ready(function(){
                $('.reorder_link').on('click',function(){
                    $("ul.reorder-photos-list").sortable({ tolerance: 'pointer' });
                    $('.reorder_link').html('Uložit');
                    $('.reorder_link').attr("id","save_reorder");
                    $('#reorder-helper').slideDown('slow');
                    $('.image_link').attr("href","javascript:void(0);");
                    $('.image_link').css("cursor","move");
                    $("#save_reorder").click(function( e ){
                        if( !$("#save_reorder i").length ){
                            $("ul.reorder-photos-list").sortable('destroy');
                            $("#reorder-helper").html( "Ukládám změny, nic nedělej!" ).removeClass('light_box').addClass('alert alert-danger');

                            var h = [];
                            $("ul.reorder-photos-list li").each(function() {  h.push($(this).attr('id').substr(9));  });


                            $.nette.ajax({
                                url: {link saveOrderImages!},
                                data: {
                                    'data': JSON.stringify(h,":",1)
                                }
                            });
                            return false;
                        }
                        e.preventDefault();
                    });
                });
            });
		</script>
	{/ifCurrent}
	{/block}
</body>
</html>
