<!DOCTYPE html>
<html>
<head>
	{block head}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="PÁRTY STANY Valášek"/>
		<meta name="keywords" content="Párty, party, stany, Valášek, Valasek, Ostrava"/>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{$basePath}/css/bootstrap.css?time={time()}">
		<link rel="stylesheet" href="{$basePath}/css/style.css?time={time()}">

		<title>{ifset title}{include title|striptags} | {/ifset}PÁRTY STANY Valášek</title>
		<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{/block}
</head>

<body>
	<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" n:href="default">PÁRTY STANY Valášek</a>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Domů</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link nav-link-active" href="#">Fotogalerie</a>
				</li>
				{if $isLogged}
				<li class="nav-item">
					<span class="nav-link active">|</span>
				</li>
				<li class="nav-item active">
					<a class="nav-link" n:href=":Admin:Homepage:" title="administrace">Administrace</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" n:href="Sign:out" title="administrace">Odhlásit</a>
				</li>
				{/if}
			</ul>
		</div>
	</nav>

	<div class="jumbotron hidden-md-down" n:ifCurrent="Homepage:">
		<div class="container">
			<img src="{$basePath}/images/logo.png" alt="logo" />
		</div>
	</div>

	<div class="container marketing">
		<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
		{include content}
	</div>
	<hr class="featurette-divider">

	<footer>
		<p>Vytvořil Martin Himlar pro PÁRTY STANY Valášek</p>
	</footer>


	{block scripts}
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="{$basePath}/js/bootstrap.js"></script>
		<script src="{$basePath}/js/holder.min.js"></script>
		<script src="{$basePath}/js/ie10-viewport-bug-workaround.js"></script>

		<!-- GOOGLE ANALYTICS -->
	<!--script>
		(function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-77928659-1', 'auto');
		ga('send', 'pageview');

	</script-->
	{/block}
</body>
</html>
