{block #title}Uživatelé{/block}

{block content}
    <a n:href="add" title="nový uživatel" class="btn btn-outline-primary">Nový uživatel</a>
    <hr />
    {snippet grid}
        {control usersGrid}
    {/snippet}
